{
  "clusters": [
    {
      "nodes": [
        {
          "node": {
            "hostnames": {
              "manage": [
                "gke-kubecity-kube-pool-e5ddd71c-1vpr"
              ],
              "storage": [
                "10.128.0.17"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "gke-kubecity-kube-pool-e5ddd71c-bdg1"
              ],
              "storage": [
                "10.128.0.16"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "gke-kubecity-kube-pool-e5ddd71c-kf0f"
              ],
              "storage": [
                "10.128.0.15"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        }
      ]
    }
  ]
}
